### Load in CSVs, Libraries, etc.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from functools import reduce
import numpy as np

In [2]:
glanceDATAFRAME = pd.read_csv('../herokuApp/static/data/witsGlanceData.csv')

### 'At-a-Glance' DataFrame Transformations

In [3]:
glanceMapDF = glanceDATAFRAME.copy()
glanceMapDF = glanceMapDF.rename(columns={"Reporter":"country","Year":"year","Partner":"trade_partner","Product categories":"category","Indicator Type":"indicator_type","Indicator":"indicator","Indicator Value":"indicator_value"})
glanceMapDF

,country,year,trade_partner,category,indicator_type,indicator,indicator_value
0,Aruba,2018.0,Unspecified,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,36.429828
1,Aruba,2018.0,Colombia,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,14.632450
2,Aruba,2018.0,United States,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,12.519250
3,Aruba,2018.0,Venezuela,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,2.841938
4,Aruba,2018.0,Netherlands,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,2.812150
...,...,...,...,...,...,...,...
20492,Zimbabwe,2018.0,...,...,Trade Indicator,Index of export market penetration,1.906519
20493,Zimbabwe,2018.0,...,...,Trade Indicator,HH Market concentration index,0.172372
20494,Zimbabwe,2018.0,...,...,Development,Trade Balance (% of GDP),-2.588361
20495,Zimbabwe,2018.0,...,...,Development,Trade (% of GDP),48.436590
20496,Zimbabwe,2018.0,...,...,Development,"GNI per capita, Atlas method (current US$)",1790.000000

In [4]:
populationQuery = glanceMapDF.loc[glanceMapDF['indicator'] == 'Population', ['country','indicator_value']]
populationQueryDF = populationQuery
populationQueryDF = populationQueryDF.rename(columns={"indicator_value":"population"})
populationQueryDF

            country  population
42            Aruba    105845.0
132     Afghanistan  37172386.0
231          Angola  30809762.0
407         Albania   2866376.0
507         Andorra     77006.0
...             ...         ...
20038         Samoa    196130.0
20135         Yemen  28498687.0
20232  South Africa  57779622.0
20338        Zambia  17351822.0
20441      Zimbabwe  14439018.0

[198 rows x 2 columns]

In [5]:
gdpQuery = glanceMapDF.loc[glanceMapDF['indicator'] == 'GDP (current US$ Mil)', ['country','indicator_value']]
gdpQueryDF = gdpQuery
gdpQueryDF = gdpQueryDF.rename(columns={"indicator_value":"gdp"})
gdpQueryDF

                    country            gdp
126             Afghanistan   19362.969580
225                  Angola  105750.987600
401                 Albania   15102.500900
502                 Andorra    3236.543909
660    United Arab Emirates  414178.942600
...                     ...            ...
20032                 Samoa     820.491798
20129                 Yemen   26914.402220
20226          South Africa  368288.939800
20332                Zambia   26720.073440
20435              Zimbabwe   31000.519450

[187 rows x 2 columns]

In [6]:
tradeQuery = glanceMapDF.loc[glanceMapDF['indicator'] == 'Trade Balance (current US$ Mil)', ['country','indicator_value']]
tradeQueryDF = tradeQuery
tradeQueryDF = tradeQueryDF.rename(columns={"indicator_value":"trade_balance"})
tradeQueryDF

                    country  trade_balance
400                 Albania   -2071.014879
659    United Arab Emirates  107202.178400
759               Argentina  -11122.187440
865                 Armenia   -1949.003913
1062              Australia    5980.156570
...                     ...            ...
19935                 World  488700.995000
20031                 Samoa    -125.016794
20225          South Africa    1266.293380
20331                Zambia    -217.572877
20434              Zimbabwe    -802.405429

[163 rows x 2 columns]

In [7]:
importQuery = glanceMapDF.loc[glanceMapDF['indicator'] == 'Trade (US$ Mil)-Top 5 Import Partner', ['country','trade_partner','indicator','indicator_value']]
importQueryDF = importQuery
importQueryDF = importQueryDF.drop_duplicates(['country', 'indicator']).groupby('country').head(1)
importQueryDF = importQueryDF.rename(columns={"trade_partner":"top_importer","indicator_value":"import_value"}).drop(columns=['indicator'])
importQueryDF

            country          top_importer  import_value
5             Aruba         United States    678.767529
94      Afghanistan    Iran, Islamic Rep.   2528.334952
193          Angola                 China   2307.384367
290         Anguila         United States    161.476651
368         Albania                 Italy   1623.655040
...             ...                   ...           ...
19999         Samoa           New Zealand     90.477260
20097         Yemen  United Arab Emirates    754.198499
20193  South Africa                 China  17087.385970
20299        Zambia          South Africa   2726.786421
20402      Zimbabwe          South Africa   2458.477736

[203 rows x 3 columns]

In [8]:
exportQuery = glanceMapDF.loc[glanceMapDF['indicator'] == 'Trade (US$ Mil)-Top 5 Export Partner', ['country','trade_partner','indicator','indicator_value']]
exportQueryDF = exportQuery
exportQueryDF = exportQuery.drop_duplicates(['country', 'indicator']).groupby('country').head(1)
exportQueryDF = exportQueryDF.rename(columns={"trade_partner":"top_exporter","indicator_value":"export_value"}).drop(columns=['indicator'])
exportQueryDF

            country    top_exporter  export_value
0             Aruba     Unspecified     36.429828
89      Afghanistan        Pakistan    758.217907
188          Angola           China  22203.616830
285         Anguila          Guyana      4.389743
363         Albania           Italy   1381.261650
...             ...             ...           ...
19994         Samoa  American Samoa     12.290205
20092         Yemen    Saudi Arabia    163.957478
20188  South Africa           China   8550.852952
20294        Zambia     Switzerland   3809.163280
20397      Zimbabwe    South Africa   2078.156756

[203 rows x 3 columns]

In [9]:
data_frames = [populationQueryDF, gdpQueryDF, tradeQueryDF, importQueryDF, exportQueryDF]

mapsDF = reduce(lambda left,right: pd.merge(left,right,on=['country'], how='outer'), data_frames)
mapsDF.dropna(subset=['country'], inplace=True)
mapsDF#.loc[mapsDF['country'] == 'United States']

,country,population,gdp,trade_balance,top_importer,import_value,top_exporter,export_value
0,Aruba,105845.0,NaN,NaN,United States,678.767529,Unspecified,36.429828
1,Afghanistan,37172386.0,19362.969580,NaN,"Iran, Islamic Rep.",2528.334952,Pakistan,758.217907
2,Angola,30809762.0,105750.987600,NaN,China,2307.384367,China,22203.616830
3,Albania,2866376.0,15102.500900,-2071.014879,Italy,1623.655040,Italy,1381.261650
4,Andorra,77006.0,3236.543909,NaN,Spain,1033.550915,Spain,79.905930
...,...,...,...,...,...,...,...,...
542,Martinique,NaN,NaN,NaN,France,1236.357248,France,148.475104
543,Mayotte,NaN,NaN,NaN,France,244.592671,France,3.552685
544,"Other Asia, nes",NaN,NaN,NaN,China,53753.569090,China,96733.338200
545,Reunion,NaN,NaN,NaN,France,1797.966848,France,148.918624
546,Sudan,NaN,NaN,NaN,China,2260.456870,United Arab Emirates,1706.632882

In [10]:
mapsDF = mapsDF.set_index('country')
mapsDF

,population,gdp,trade_balance,top_importer,import_value,top_exporter,export_value
country,,,,,,,
Aruba,105845.0,NaN,NaN,United States,678.767529,Unspecified,36.429828
Afghanistan,37172386.0,19362.969580,NaN,"Iran, Islamic Rep.",2528.334952,Pakistan,758.217907
Angola,30809762.0,105750.987600,NaN,China,2307.384367,China,22203.616830
Albania,2866376.0,15102.500900,-2071.014879,Italy,1623.655040,Italy,1381.261650
Andorra,77006.0,3236.543909,NaN,Spain,1033.550915,Spain,79.905930
...,...,...,...,...,...,...,...
Martinique,NaN,NaN,NaN,France,1236.357248,France,148.475104
Mayotte,NaN,NaN,NaN,France,244.592671,France,3.552685
"Other Asia, nes",NaN,NaN,NaN,China,53753.569090,China,96733.338200
Reunion,NaN,NaN,NaN,France,1797.966848,France,148.918624
Sudan,NaN,NaN,NaN,China,2260.456870,United Arab Emirates,1706.632882

In [11]:
pd.DataFrame.to_csv(mapsDF, 'mapsDataBase.csv', sep=',', na_rep='.', index=False)

### Create Database Connection

In [12]:
engine = create_engine('postgresql://postgres:0607@localhost:5432/WITS')

In [13]:
mapsDF.to_sql('glancemapdb',engine,index=True)