In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
total_exports_file = "Total Exports (in US$ mil).csv"
total_exports_df = pd.read_csv(total_exports_file)
total_exports_df.head()

,indicator_type,country,y_2018,y_2017,y_2016,y_2015,y_2014,y_2013,y_2012,y_2011,...,y_2004,y_2003,y_2002,y_2001,y_2000,y_1999,y_1998,y_1997,y_1996,y_1995
0,Total Exports (in US$ mil),Canada,450277.70,420631.85,388853.14,408697.32,475177.18,456598.27,454098.97,450430.01,...,317161.19,272229.69,252584.26,261058.77,277419.92,238778.01,214606.35,216037.34,202262.54,191117.74
1,Total Exports (in US$ mil),China,2494230.19,2263370.50,2097637.17,2273468.22,2342292.70,2209007.28,2048782.23,1898388.43,...,593325.58,438227.77,325595.97,266098.21,249202.55,194930.78,183808.98,182791.59,151047.45,148779.50
2,Total Exports (in US$ mil),France,568535.88,523385.13,488885.07,493941.21,566656.17,567987.70,558460.55,585723.82,...,413708.42,358131.72,304891.88,289599.10,295345.42,296025.16,300571.07,283345.62,283901.20,284045.61
3,Total Exports (in US$ mil),Germany,1562418.82,1446642.44,1337236.56,1328500.25,1498238.43,1450937.52,1412396.69,1483802.56,...,911742.10,748531.27,615997.39,571426.72,549606.74,542835.57,543555.26,512440.27,524165.98,523696.75
4,Total Exports (in US$ mil),Italy,549907.00,507430.24,461667.63,456988.63,529528.73,518095.10,501528.85,523256.30,...,353543.12,299465.74,254215.60,244252.02,239931.70,234962.95,242102.21,238265.78,252098.58,230441.48

In [4]:
total_gdp_file = "Total GDP.csv"
total_gdp_df = pd.read_csv(total_gdp_file)
total_gdp_df.head()

FileNotFoundError: [Errno 2] File b'Total GDP.csv' does not exist: b'Total GDP.csv'

In [ ]:
total_imports_file = "Total Imports (in US$ mil).csv"
total_imports_df = pd.read_csv(total_imports_file)
total_imports_df.head()

In [ ]:
trade_file = "Trade (% of GDP).csv"
trade_df = pd.read_csv(trade_file)
trade_df.head()

In [5]:
total_gdp_test_file = "Total_GDP_test_1.csv"
total_gdp_test_df = pd.read_csv(total_gdp_test_file)
total_gdp_test_df.head()

FileNotFoundError: [Errno 2] File b'Total_GDP_test_1.csv' does not exist: b'Total_GDP_test_1.csv'

In [7]:
total_imports_test_file = "total_imports_test.csv"
total_imports_test_df = pd.read_csv(total_imports_test_file)
total_imports_test_df.head()

,indicator_type,year,canada,china,france,germany,italy,japan,united_kingdom,united_states
0,total imports,2018,459866.29,2134982.61,659374.52,1292726.05,503581.13,748217.61,671694.26,2611432.49
1,total imports,2017,432405.19,1843792.94,613132.64,1167753.36,453583.03,671474.31,641332.44,2405276.63
2,total imports,2016,402287.82,1587920.69,560554.86,1060882.07,406670.67,606924.05,636367.94,2247167.25
3,total imports,2015,419374.73,1679564.32,563398.25,1057535.85,410933.40,625568.42,630251.06,2313424.57
4,total imports,2014,463088.98,1959234.63,659872.08,1214915.24,474082.56,812184.75,694344.32,2410855.48

In [17]:
total_exports_test_file = "total_exports_test.csv"
total_exports_test_df = pd.read_csv(total_exports_test_file)
total_exports_test_df.head()

,indicator_type,year,canada,china,france,germany,italy,japan,united_kingdom,united_states
0,total_exports,2018,450277.70,2494230.19,568535.88,1562418.82,549907.00,738201.19,490840.36,1665302.94
1,total_exports,2017,420631.85,2263370.50,523385.13,1446642.44,507430.24,698097.19,442065.71,1545809.60
2,total_exports,2016,388853.14,2097637.17,488885.07,1337236.56,461667.63,644932.44,411463.36,1450906.27
3,total_exports,2015,408697.32,2273468.22,493941.21,1328500.25,456988.63,624873.51,466295.68,1501845.86
4,total_exports,2014,475177.18,2342292.70,566656.17,1498238.43,529528.73,690217.47,511145.44,1619742.86

In [23]:
country_growth_file = "country_growth.csv"
country_growth_df = pd.read_csv(country_growth_file)
country_growth_df.head()

,indicator_type,year,canada,china,france,germany,italy,japan,united_kingdom,united_states
0,Country Growth %,2018,3.56,2.31,2.22,3.15,1.76,1.50,3.97,3.10
1,Country Growth %,2017,4.70,7.82,4.76,4.14,6.53,3.92,4.86,3.98
2,Country Growth %,2016,-3.41,-3.97,-0.90,0.07,0.82,0.91,-4.36,-2.07
3,Country Growth %,2015,-7.17,-1.55,-7.01,-5.90,-6.02,-4.54,-6.69,-3.94
4,Country Growth %,2014,2.13,2.70,0.82,1.28,1.08,-1.56,-4.21,1.06

In [32]:
trade_balance_file = "trade_balance.csv"
trade_balance_df = pd.read_csv(trade_balance_file)
trade_balance_df.head()

,indicator_type,year,canada,china,france,germany,italy,japan,united_kingdom,united_states
0,trade_balance,2018,-33617.99,106623.48,-21484.06,243227.47,52077.68,12698.42,-50333.41,-638214
1,trade_balance,2017,-36501.03,215695.70,-27369.92,259682.97,58326.40,45435.28,-32338.37,-575336
2,trade_balance,2016,-36038.36,255483.47,-14952.96,255267.74,61679.57,48781.68,-43642.31,-518806
3,trade_balance,2015,-38367.63,358835.72,-13811.21,254126.02,55330.12,-18394.96,-40421.94,-519845
4,trade_balance,2014,-16351.25,221550.83,-32669.49,257054.66,62518.61,-119570.78,-42718.01,-507658

In [33]:
connection_string = "postgres:postgres@localhost:5432/trade_data"
engine = create_engine(f'postgresql://{connection_string}')

In [34]:
engine.table_names()

['trade_balance',
 'country_growth',
 'total_exports',
 'total_gdp',
 'total_imports',
 'trade_balance_gdp_percent',
 'trade_gdp_percent',
 'total_gdp_test',
 'total_country_growth',
 'trade_balnace_gdp_percent',
 'trade_balance_total',
 'total_imports_test',
 'total_exports_test',
 'country_exports',
 'trade_data']

In [35]:
trade_balance_df.to_sql(name='trade_balance_total', con=engine, if_exists='append', index=False)

In [42]:
total_gdp_df.to_sql(name='total_gdp', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "total_gdp_pkey"
DETAIL:  Key (country)=(Canada) already exists.

[SQL: INSERT INTO total_gdp (indicator_type, country, y_2018, y_2017, y_2016, y_2015, y_2014, y_2013, y_2012, y_2011, y_2010, y_2009, y_2008, y_2007, y_2006, y_2005, y_2004, y_2003, y_2002, y_2001, y_2000, y_1999, y_1998, y_1997, y_1996, y_1995) VALUES (%(indicator_type)s, %(country)s, %(y_2018)s, %(y_2017)s, %(y_2016)s, %(y_2015)s, %(y_2014)s, %(y_2013)s, %(y_2012)s, %(y_2011)s, %(y_2010)s, %(y_2009)s, %(y_2008)s, %(y_2007)s, %(y_2006)s, %(y_2005)s, %(y_2004)s, %(y_2003)s, %(y_2002)s, %(y_2001)s, %(y_2000)s, %(y_1999)s, %(y_1998)s, %(y_1997)s, %(y_1996)s, %(y_1995)s)]
[parameters: ({'indicator_type': 'Total GDP', 'country': 'Canada', 'y_2018': 1713341.7, 'y_2017': 1646867.22, 'y_2016': 1526705.53, 'y_2015': 1552899.93, 'y_2014': 1801480.12, 'y_2013': 1842018.42, 'y_2012': 1823966.69, 'y_2011': 1789140.67, 'y_2010': 1613542.81, 'y_2009': 1613542.81, 'y_2008': 1371153.0, 'y_2007': 1464977.19, 'y_2006': 1315415.2, 'y_2005': 1169357.98, 'y_2004': 1023196.77, 'y_2003': 892382.41, 'y_2002': 757950.68, 'y_2001': 736379.78, 'y_2000': 742295.47, 'y_1999': 676084.0, 'y_1998': 631813.28, 'y_1997': 652823.92, 'y_1996': 628546.39, 'y_1995': 604031.62}, {'indicator_type': 'Total GDP', 'country': 'China', 'y_2018': 13608151.87, 'y_2017': 12143491.45, 'y_2016': 11137945.67, 'y_2015': 11015542.35, 'y_2014': 10438529.15, 'y_2013': 9570405.76, 'y_2012': 8532230.72, 'y_2011': 7551500.43, 'y_2010': 6087164.53, 'y_2009': 5101702.43, 'y_2008': 4594306.85, 'y_2007': 3550342.43, 'y_2006': 2752131.77, 'y_2005': 2285965.89, 'y_2004': 1955347.0, 'y_2003': 1660287.97, 'y_2002': 1470550.02, 'y_2001': 1339395.72, 'y_2000': 1211346.87, 'y_1999': 1093997.27, 'y_1998': 1029043.1, 'y_1997': 961603.95, 'y_1996': 863746.72, 'y_1995': 734547.9}, {'indicator_type': 'Total GDP', 'country': 'France', 'y_2018': 2777535.24, 'y_2017': 2586285.41, 'y_2016': 2471285.61, 'y_2015': 2438207.9, 'y_2014': 2852165.76, 'y_2013': 2811077.73, 'y_2012': 2683825.23, 'y_2011': 2861408.17, 'y_2010': 2642609.55, 'y_2009': 2690222.28, 'y_2008': 2918382.89, 'y_2007': 2657213.25, 'y_2006': 2318593.65, 'y_2005': 2196126.1, 'y_2004': 2115742.49, 'y_2003': 1840480.81, 'y_2002': 1494286.66, 'y_2001': 1376465.32, 'y_2000': 1362248.94, 'y_1999': 1492647.56, 'y_1998': 1503108.74, 'y_1997': 1452884.92, 'y_1996': 1605675.09, 'y_1995': 1601094.76}, {'indicator_type': 'Total GDP', 'country': 'Germany', 'y_2018': 3947620.16, 'y_2017': 3656749.41, 'y_2016': 3466790.07, 'y_2015': 3360549.97, 'y_2014': 3883920.16, 'y_2013': 3732743.45, 'y_2012': 3527344.94, 'y_2011': 3744408.6, 'y_2010': 3396354.08, 'y_2009': 3397791.05, 'y_2008': 3730027.83, 'y_2007': 3421229.13, 'y_2006': 2992196.71, 'y_2005': 2845802.76, 'y_2004': 2809187.98, 'y_2003': 2496128.67, 'y_2002': 2068624.13, 'y_2001': 1944107.38, 'y_2000': 1943145.38, 'y_1999': 2194204.13, 'y_1998': 2238990.77, 'y_1997': 2211989.62, 'y_1996': 2497244.61, 'y_1995': 2585792.28}, {'indicator_type': 'Total GDP', 'country': 'Italy', 'y_2018': 2083864.26, 'y_2017': 1956960.61, 'y_2016': 1875579.88, 'y_2015': 1835899.24, 'y_2014': 2159133.92, 'y_2013': 2141315.33, 'y_2012': 2087077.03, 'y_2011': 2291991.05, 'y_2010': 2134017.84, 'y_2009': 2191241.87, 'y_2008': 2398856.6, 'y_2007': 2210292.64, 'y_2006': 1947919.71, 'y_2005': 1857524.31, 'y_2004': 1803226.97, 'y_2003': 1574145.82, 'y_2002': 1270712.31, 'y_2001': 1167012.8, 'y_2000': 1143829.83, 'y_1999': 1252023.76, 'y_1998': 1270052.53, 'y_1997': 1241879.6, 'y_1996': 1312426.53, 'y_1995': 1174662.07}, {'indicator_type': 'Total GDP', 'country': 'Japan', 'y_2018': 4971323.08, 'y_2017': 4859950.56, 'y_2016': 4926667.09, 'y_2015': 4389475.62, 'y_2014': 4850413.54, 'y_2013': 5155717.06, 'y_2012': 6203213.12, 'y_2011': 6157459.59, 'y_2010': 5700098.11, 'y_2009': 5231382.67, 'y_2008': 5037908.47, 'y_2007': 4515264.51, 'y_2006': 4530377.22, 'y_2005': 4755410.63, 'y_2004': 4815148.85, 'y_2003': 4445658.07, 'y_2002': 4115116.28, 'y_2001': 4303544.26, 'y_2000': 4887519.66, 'y_1999': 4562078.82, 'y_1998': 4032509.76, 'y_1997': 4414732.84, 'y_1996': 4833712.54, 'y_1995': 5449116.3}, {'indicator_type': 'Total GDP', 'country': 'United Kingdom', 'y_2018': 2855296.73, 'y_2017': 2666229.18, 'y_2016': 2694283.21, 'y_2015': 2928591.0, 'y_2014': 3063803.24, 'y_2013': 2786022.87, 'y_2012': 2704887.68, 'y_2011': 2659310.05, 'y_2010': 2475244.32, 'y_2009': 2410909.8, 'y_2008': 2922667.28, 'y_2007': 3100882.35, 'y_2006': 2713749.77, 'y_2005': 2538680.0, 'y_2004': 2416931.53, 'y_2003': 2053018.78, 'y_2002': 1784473.92, 'y_2001': 1640246.15, 'y_2000': 1657816.61, 'y_1999': 1682399.29, 'y_1998': 1650172.24, 'y_1997': 1559078.26, 'y_1996': 1415358.81, 'y_1995': 1341584.35}, {'indicator_type': 'Total GDP', 'country': 'United States', 'y_2018': 20544343.46, 'y_2017': 19485393.85, 'y_2016': 18707188.23, 'y_2015': 18219297.58, 'y_2014': 17521746.53, 'y_2013': 16784849.19, 'y_2012': 16197007.35, 'y_2011': 15542581.1, 'y_2010': 14992052.73, 'y_2009': 14448933.03, 'y_2008': 14712844.08, 'y_2007': 14451858.65, 'y_2006': 13814611.41, 'y_2005': 13036640.23, 'y_2004': 12213729.15, 'y_2003': 11458243.88, 'y_2002': 10936419.05, 'y_2001': 10581821.4, 'y_2000': 10252345.46, 'y_1999': 9630664.2, 'y_1998': 9062818.21, 'y_1997': 8577554.46, 'y_1996': 8073122.0, 'y_1995': 7639749.0})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [43]:
total_imports_df.to_sql(name='total_imports', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "total_imports_pkey"
DETAIL:  Key (country)=(Canada) already exists.

[SQL: INSERT INTO total_imports (indicator_type, country, y_2018, y_2017, y_2016, y_2015, y_2014, y_2013, y_2012, y_2011, y_2010, y_2009, y_2008, y_2007, y_2006, y_2005, y_2004, y_2003, y_2002, y_2001, y_2000, y_1999, y_1998, y_1997, y_1996, y_1995) VALUES (%(indicator_type)s, %(country)s, %(y_2018)s, %(y_2017)s, %(y_2016)s, %(y_2015)s, %(y_2014)s, %(y_2013)s, %(y_2012)s, %(y_2011)s, %(y_2010)s, %(y_2009)s, %(y_2008)s, %(y_2007)s, %(y_2006)s, %(y_2005)s, %(y_2004)s, %(y_2003)s, %(y_2002)s, %(y_2001)s, %(y_2000)s, %(y_1999)s, %(y_1998)s, %(y_1997)s, %(y_1996)s, %(y_1995)s)]
[parameters: ({'indicator_type': 'Total Imports (in US$ mil)', 'country': 'Canada', 'y_2018': 459866.29, 'y_2017': 432405.19, 'y_2016': 402287.82, 'y_2015': 419374.73, 'y_2014': 463088.98, 'y_2013': 461785.07, 'y_2012': 462366.18, 'y_2011': 450579.51, 'y_2010': 392108.7, 'y_2009': 321227.57, 'y_2008': 408762.17, 'y_2007': 380646.62, 'y_2006': 350257.15, 'y_2005': 314444.42, 'y_2004': 273873.7, 'y_2003': 240376.25, 'y_2002': 222440.06, 'y_2001': 221623.73, 'y_2000': 240088.24, 'y_1999': 215554.88, 'y_1998': 201372.55, 'y_1997': 197010.9, 'y_1996': 170605.56, 'y_1995': 164370.97}, {'indicator_type': 'Total Imports (in US$ mil)', 'country': 'China', 'y_2018': 2134982.61, 'y_2017': 1843792.94, 'y_2016': 1587920.69, 'y_2015': 1679564.32, 'y_2014': 1959234.63, 'y_2013': 1949992.31, 'y_2012': 1818199.23, 'y_2011': 1743394.87, 'y_2010': 1396001.57, 'y_2009': 1005555.23, 'y_2008': 1132562.16, 'y_2007': 956115.45, 'y_2006': 791460.87, 'y_2005': 659952.76, 'y_2004': 561228.75, 'y_2003': 412759.8, 'y_2002': 295170.1, 'y_2001': 243552.88, 'y_2000': 225093.73, 'y_1999': 165699.07, 'y_1998': 140236.77, 'y_1997': 142370.32, 'y_1996': 138832.74, 'y_1995': 132083.5}, {'indicator_type': 'Total Imports (in US$ mil)', 'country': 'France', 'y_2018': 659374.52, 'y_2017': 613132.64, 'y_2016': 560554.86, 'y_2015': 563398.25, 'y_2014': 659872.08, 'y_2013': 671253.55, 'y_2012': 666675.23, 'y_2011': 713675.25, 'y_2010': 599171.51, 'y_2009': 540502.28, 'y_2008': 695004.28, 'y_2007': 611364.44, 'y_2006': 529902.26, 'y_2005': 475856.8, 'y_2004': 434241.85, 'y_2003': 362517.3, 'y_2002': 303831.44, 'y_2001': 293865.64, 'y_2000': 303757.85, 'y_1999': 286592.83, 'y_1998': 286035.84, 'y_1997': 266575.35, 'y_1996': 274913.76, 'y_1995': 273387.34}, {'indicator_type': 'Total Imports (in US$ mil)', 'country': 'Germany', 'y_2018': 1292726.05, 'y_2017': 1167753.36, 'y_2016': 1060882.07, 'y_2015': 1057535.85, 'y_2014': 1214915.24, 'y_2013': 1187301.53, 'y_2012': 1163386.79, 'y_2011': 1261588.48, 'y_2010': 1060672.35, 'y_2009': 928891.17, 'y_2008': 1192581.76, 'y_2007': 1059307.81, 'y_2006': 922213.39, 'y_2005': 779819.06, 'y_2004': 718150.02, 'y_2003': 601761.02, 'y_2002': 490450.06, 'y_2001': 486022.07, 'y_2000': 500830.03, 'y_1999': 473500.68, 'y_1998': 471226.32, 'y_1997': 445495.67, 'y_1996': 458699.73, 'y_1995': 464145.33}, {'indicator_type': 'Total Imports (in US$ mil)', 'country': 'Italy', 'y_2018': 503581.13, 'y_2017': 453583.03, 'y_2016': 406670.67, 'y_2015': 410933.4, 'y_2014': 474082.56, 'y_2013': 479336.35, 'y_2012': 489104.12, 'y_2011': 558831.98, 'y_2010': 486984.37, 'y_2009': 414783.64, 'y_2008': 560960.37, 'y_2007': 511822.51, 'y_2006': 442565.1, 'y_2005': 384835.56, 'y_2004': 355266.85, 'y_2003': 297402.8, 'y_2002': 246609.48, 'y_2001': 236126.62, 'y_2000': 238068.54, 'y_1999': 220056.1, 'y_1998': 215590.08, 'y_1997': 208317.1, 'y_1996': 208116.04, 'y_1995': 200319.91}, {'indicator_type': 'Total Imports (in US$ mil)', 'country': 'Japan', 'y_2018': 748217.61, 'y_2017': 671474.31, 'y_2016': 606924.05, 'y_2015': 625568.42, 'y_2014': 812184.75, 'y_2013': 833166.06, 'y_2012': 886031.09, 'y_2011': 855380.47, 'y_2010': 694059.16, 'y_2009': 551984.75, 'y_2008': 762533.92, 'y_2007': 622243.34, 'y_2006': 579063.94, 'y_2005': 515866.39, 'y_2004': 455253.89, 'y_2003': 383465.33, 'y_2002': 337613.13, 'y_2001': 349291.91, 'y_2000': 379708.38, 'y_1999': 309994.47, 'y_1998': 280633.84, 'y_1997': 338842.35, 'y_1996': 349186.1, 'y_1995': 336094.17}, {'indicator_type': 'Total Imports (in US$ mil)', 'country': 'United Kingdom', 'y_2018': 671694.26, 'y_2017': 641332.44, 'y_2016': 636367.94, 'y_2015': 630251.06, 'y_2014': 694344.32, 'y_2013': 657222.53, 'y_2012': 689137.01, 'y_2011': 717606.23, 'y_2010': 627617.52, 'y_2009': 552042.03, 'y_2008': 705344.16, 'y_2007': 679917.92, 'y_2006': 614811.65, 'y_2005': 528460.95, 'y_2004': 502886.19, 'y_2003': 425369.49, 'y_2002': 372059.5, 'y_2001': 358702.94, 'y_2000': 374702.69, 'y_1999': 315333.08, 'y_1998': 311879.51, 'y_1997': 305135.41, 'y_1996': 282720.14, 'y_1995': 261456.48}, {'indicator_type': 'Total Imports (in US$ mil)', 'country': 'United States', 'y_2018': 2611432.49, 'y_2017': 2405276.63, 'y_2016': 2247167.25, 'y_2015': 2313424.57, 'y_2014': 2410855.48, 'y_2013': 2265911.27, 'y_2012': 2274461.87, 'y_2011': 2263619.06, 'y_2010': 1968259.9, 'y_2009': 1601895.82, 'y_2008': 2164834.03, 'y_2007': 2017120.78, 'y_2006': 1918997.09, 'y_2005': 1734849.14, 'y_2004': 1525304.22, 'y_2003': 1302833.51, 'y_2002': 1200095.83, 'y_2001': 1140900.16, 'y_2000': 1217932.97, 'y_1999': 1059220.09, 'y_1998': 944350.1, 'y_1997': 898025.46, 'y_1996': 817627.14, 'y_1995': 770821.46})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [45]:
trade_df.to_sql(name='trade_gdp_percent', con=engine, if_exists='append', index=False)

In [47]:
trade_balance_gdp_df.to_sql(name='trade_balance_gdp_percent', con=engine, if_exists='append', index=False)