In [46]:
from flask import Flask, jsonify
from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import Column, Integer, String, Float
Base = automap_base()

In [65]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/trade_data')
#Base.metadata.create_all(engine)
session = Session(bind=engine)
Base.prepare(engine, reflect=True)
Base.classes.keys()

['trade_balance',
 'country_growth',
 'total_exports',
 'total_gdp',
 'total_imports',
 'trade_balance_gdp_percent',
 'trade_gdp_percent',
 'total_gdp_test']

In [59]:
total_exports = Base.classes.total_exports

In [60]:
session = Session(engine)

In [62]:
first_row = session.query(total_exports).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fda02b69710>,
 'y_2016': 388853.14,
 'y_2008': 455632.18,
 'y_2001': 261058.77,
 'y_2015': 408697.32,
 'y_2007': 419881.6,
 'y_2000': 277419.92,
 'y_2014': 475177.18,
 'y_2006': 388178.68,
 'y_1999': 238778.01,
 'indicator_type': 'Total Exports (in US$ mil)',
 'y_2013': 456598.27,
 'y_2005': 360552.45,
 'y_1998': 214606.35,
 'country': 'Canada',
 'y_2012': 454098.97,
 'y_2004': 317161.19,
 'y_1997': 216037.34,
 'y_2018': 450277.7,
 'y_2011': 450430.01,
 'y_2003': 272229.69,
 'y_1996': 202262.54,
 'y_2017': 420631.85,
 'y_2010': 386579.9,
 'y_2002': 252584.26,
 'y_1995': 191117.74,
 'y_2009': 315176.83}

In [43]:
for row in session.query(trade_balance.indicator_type, trade_balance.country, trade_balance.y_2017, trade_balance.y_2018):
    print(row)

('Trade Balance', 'Canada', -36501.03, -33617.99)
('Trade Balance', 'China', 215695.7, 106623.48)
('Trade Balance', 'France', -27369.92, -21484.06)
('Trade Balance', 'Germany', 259682.97, 243227.47)
('Trade Balance', 'Italy', 58326.4, 52077.68)
('Trade Balance', 'Japan', 45435.28, 12698.42)
('Trade Balance', 'United Kingdom', -32338.37, -50333.41)
('Trade Balance', 'United States', -575336.0, -638214.0)

In [44]:
trade_balance_query = session.query(trade_balance.indicator_type, trade_balance.country, trade_balance.y_2017, trade_balance.y_2018)
trade_balance_query

In [49]:
all_results = []
for trade_balance.indicator_type, trade_balance.country, trade_balance.y_2017, trade_balance.y_2018 in trade_balance_query:
        results_dict = {}
        results_dict["indicator"] = trade_balance.indicator_type
        results_dict["country"] = trade_balance.country
        results_dict["2017"] = trade_balance.y_2017
        results_dict["2018"] =  trade_balance.y_2018
        all_results.append(results_dict)

In [51]:
print(all_results)

[{'indicator': 'Trade Balance', 'country': 'Canada', '2017': -36501.03, '2018': -33617.99}, {'indicator': 'Trade Balance', 'country': 'China', '2017': 215695.7, '2018': 106623.48}, {'indicator': 'Trade Balance', 'country': 'France', '2017': -27369.92, '2018': -21484.06}, {'indicator': 'Trade Balance', 'country': 'Germany', '2017': 259682.97, '2018': 243227.47}, {'indicator': 'Trade Balance', 'country': 'Italy', '2017': 58326.4, '2018': 52077.68}, {'indicator': 'Trade Balance', 'country': 'Japan', '2017': 45435.28, '2018': 12698.42}, {'indicator': 'Trade Balance', 'country': 'United Kingdom', '2017': -32338.37, '2018': -50333.41}, {'indicator': 'Trade Balance', 'country': 'United States', '2017': -575336.0, '2018': -638214.0}]

In [66]:
total_gdp_test = Base.classes.total_gdp_test

In [67]:
session = Session(engine)

In [68]:
first_row = session.query(total_gdp_test).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fda02c5ea50>,
 '_year': 2018,
 '_china': 13608151.87,
 '_germany': 3947620.16,
 '_japan': 4971323.08,
 '_united_states': 20544343.46,
 '_canada': 1713341.7,
 '_indicator_type': 'Total GDP',
 '_france': 2777535.24,
 '_italy': 2083864.26,
 '_united_kingdom': 2855296.73}

In [71]:
for row in session.query(total_gdp_test._indicator_type, total_gdp_test._year, total_gdp_test._canada, total_gdp_test._china, total_gdp_test._france, total_gdp_test._germany, total_gdp_test._italy, total_gdp_test._japan, total_gdp_test._united_kingdom, total_gdp_test._united_states):
    print(row)

('Total GDP', 2018, 1713341.7, 13608151.87, 2777535.24, 3947620.16, 2083864.26, 4971323.08, 2855296.73, 20544343.46)
('Total GDP', 2017, 1646867.22, 12143491.45, 2586285.41, 3656749.41, 1956960.61, 4859950.56, 2666229.18, 19485393.85)
('Total GDP', 2016, 1526705.53, 11137945.67, 2471285.61, 3466790.07, 1875579.88, 4926667.09, 2694283.21, 18707188.23)
('Total GDP', 2015, 1552899.93, 11015542.35, 2438207.9, 3360549.97, 1835899.24, 4389475.62, 2928591.0, 18219297.58)
('Total GDP', 2014, 1801480.12, 10438529.15, 2852165.76, 3883920.16, 2159133.92, 4850413.54, 3063803.24, 17521746.53)
('Total GDP', 2013, 1842018.42, 9570405.76, 2811077.73, 3732743.45, 2141315.33, 5155717.06, 2786022.87, 16784849.19)
('Total GDP', 2012, 1823966.69, 8532230.72, 2683825.23, 3527344.94, 2087077.03, 6203213.12, 2704887.68, 16197007.35)
('Total GDP', 2011, 1789140.67, 7551500.43, 2861408.17, 3744408.6, 2291991.05, 6157459.59, 2659310.05, 15542581.1)
('Total GDP', 2010, 1613542.81, 6087164.53, 2642609.55, 3396354.08, 2134017.84, 5700098.11, 2475244.32, 14992052.73)
('Total GDP', 2009, 1613542.81, 5101702.43, 2690222.28, 3397791.05, 2191241.87, 5231382.67, 2410909.8, 14448933.03)
('Total GDP', 2008, 1371153.0, 4594306.85, 2918382.89, 3730027.83, 2398856.6, 5037908.47, 2922667.28, 14712844.08)
('Total GDP', 2007, 1464977.19, 3550342.43, 2657213.25, 3421229.13, 2210292.64, 4515264.51, 3100882.35, 14451858.65)
('Total GDP', 2006, 1315415.2, 2752131.77, 2318593.65, 2992196.71, 1947919.71, 4530377.22, 2713749.77, 13814611.41)
('Total GDP', 2005, 1169357.98, 2285965.89, 2196126.1, 2845802.76, 1857524.31, 4755410.63, 2538680.0, 13036640.23)
('Total GDP', 2004, 1023196.77, 1955347.0, 2115742.49, 2809187.98, 1803226.97, 4815148.85, 2416931.53, 12213729.15)
('Total GDP', 2003, 892382.41, 1660287.97, 1840480.81, 2496128.67, 1574145.82, 4445658.07, 2053018.78, 11458243.88)
('Total GDP', 2002, 757950.68, 1470550.02, 1494286.66, 2068624.13, 1270712.31, 4115116.28, 1784473.92, 10936419.05)
('Total GDP', 2001, 736379.78, 1339395.72, 1376465.32, 1944107.38, 1167012.8, 4303544.26, 1640246.15, 10581821.4)
('Total GDP', 2000, 742295.47, 1211346.87, 1362248.94, 1943145.38, 1143829.83, 4887519.66, 1657816.61, 10252345.46)
('Total GDP', 1999, 676084.0, 1093997.27, 1492647.56, 2194204.13, 1252023.76, 4562078.82, 1682399.29, 9630664.2)
('Total GDP', 1998, 631813.28, 1029043.1, 1503108.74, 2238990.77, 1270052.53, 4032509.76, 1650172.24, 9062818.21)
('Total GDP', 1997, 652823.92, 961603.95, 1452884.92, 2211989.62, 1241879.6, 4414732.84, 1559078.26, 8577554.46)
('Total GDP', 1996, 628546.39, 863746.72, 1605675.09, 2497244.61, 1312426.53, 4833712.54, 1415358.81, 8073122.0)
('Total GDP', 1995, 604031.62, 734547.9, 1601094.76, 2585792.28, 1174662.07, 5449116.3, 1341584.35, 7639749.0)

In [75]:
total_gdp_test_query = session.query(total_gdp_test._indicator_type, total_gdp_test._year, total_gdp_test._canada, total_gdp_test._china, total_gdp_test._france, total_gdp_test._germany, total_gdp_test._italy, total_gdp_test._japan, total_gdp_test._united_kingdom, total_gdp_test._united_states)
total_gdp_test_query

In [78]:
all_results = []
for total_gdp_test._indicator_type, total_gdp_test._year, total_gdp_test._canada, total_gdp_test._china, total_gdp_test._france, total_gdp_test._germany, total_gdp_test._italy, total_gdp_test._japan, total_gdp_test._united_kingdom, total_gdp_test._united_states in total_gdp_test_query:
        results_dict = {}
        results_dict["indicator"] = total_gdp_test._indicator_type
        results_dict["year"] = total_gdp_test._year
        results_dict["canada"] = total_gdp_test._canada
        results_dict["china"] =  total_gdp_test._china
        results_dict["france"] = total_gdp_test._france
        results_dict["germany"] = total_gdp_test._germany
        results_dict["italy"] = total_gdp_test._italy
        results_dict["japan"] =  total_gdp_test._japan
        results_dict["united_kingdom"] = total_gdp_test._united_kingdom
        results_dict["united_states"] =  total_gdp_test._united_states
        all_results.append(results_dict)

In [79]:
print(all_results)

[{'indicator': 'Total GDP', 'year': 2018, 'canada': 1713341.7, 'china': 13608151.87, 'france': 2777535.24, 'germany': 3947620.16, 'italy': 2083864.26, 'japan': 4971323.08, 'united_kingdom': 2855296.73, 'united_states': 20544343.46}, {'indicator': 'Total GDP', 'year': 2017, 'canada': 1646867.22, 'china': 12143491.45, 'france': 2586285.41, 'germany': 3656749.41, 'italy': 1956960.61, 'japan': 4859950.56, 'united_kingdom': 2666229.18, 'united_states': 19485393.85}, {'indicator': 'Total GDP', 'year': 2016, 'canada': 1526705.53, 'china': 11137945.67, 'france': 2471285.61, 'germany': 3466790.07, 'italy': 1875579.88, 'japan': 4926667.09, 'united_kingdom': 2694283.21, 'united_states': 18707188.23}, {'indicator': 'Total GDP', 'year': 2015, 'canada': 1552899.93, 'china': 11015542.35, 'france': 2438207.9, 'germany': 3360549.97, 'italy': 1835899.24, 'japan': 4389475.62, 'united_kingdom': 2928591.0, 'united_states': 18219297.58}, {'indicator': 'Total GDP', 'year': 2014, 'canada': 1801480.12, 'china': 10438529.15, 'france': 2852165.76, 'germany': 3883920.16, 'italy': 2159133.92, 'japan': 4850413.54, 'united_kingdom': 3063803.24, 'united_states': 17521746.53}, {'indicator': 'Total GDP', 'year': 2013, 'canada': 1842018.42, 'china': 9570405.76, 'france': 2811077.73, 'germany': 3732743.45, 'italy': 2141315.33, 'japan': 5155717.06, 'united_kingdom': 2786022.87, 'united_states': 16784849.19}, {'indicator': 'Total GDP', 'year': 2012, 'canada': 1823966.69, 'china': 8532230.72, 'france': 2683825.23, 'germany': 3527344.94, 'italy': 2087077.03, 'japan': 6203213.12, 'united_kingdom': 2704887.68, 'united_states': 16197007.35}, {'indicator': 'Total GDP', 'year': 2011, 'canada': 1789140.67, 'china': 7551500.43, 'france': 2861408.17, 'germany': 3744408.6, 'italy': 2291991.05, 'japan': 6157459.59, 'united_kingdom': 2659310.05, 'united_states': 15542581.1}, {'indicator': 'Total GDP', 'year': 2010, 'canada': 1613542.81, 'china': 6087164.53, 'france': 2642609.55, 'germany': 3396354.08, 'italy': 2134017.84, 'japan': 5700098.11, 'united_kingdom': 2475244.32, 'united_states': 14992052.73}, {'indicator': 'Total GDP', 'year': 2009, 'canada': 1613542.81, 'china': 5101702.43, 'france': 2690222.28, 'germany': 3397791.05, 'italy': 2191241.87, 'japan': 5231382.67, 'united_kingdom': 2410909.8, 'united_states': 14448933.03}, {'indicator': 'Total GDP', 'year': 2008, 'canada': 1371153.0, 'china': 4594306.85, 'france': 2918382.89, 'germany': 3730027.83, 'italy': 2398856.6, 'japan': 5037908.47, 'united_kingdom': 2922667.28, 'united_states': 14712844.08}, {'indicator': 'Total GDP', 'year': 2007, 'canada': 1464977.19, 'china': 3550342.43, 'france': 2657213.25, 'germany': 3421229.13, 'italy': 2210292.64, 'japan': 4515264.51, 'united_kingdom': 3100882.35, 'united_states': 14451858.65}, {'indicator': 'Total GDP', 'year': 2006, 'canada': 1315415.2, 'china': 2752131.77, 'france': 2318593.65, 'germany': 2992196.71, 'italy': 1947919.71, 'japan': 4530377.22, 'united_kingdom': 2713749.77, 'united_states': 13814611.41}, {'indicator': 'Total GDP', 'year': 2005, 'canada': 1169357.98, 'china': 2285965.89, 'france': 2196126.1, 'germany': 2845802.76, 'italy': 1857524.31, 'japan': 4755410.63, 'united_kingdom': 2538680.0, 'united_states': 13036640.23}, {'indicator': 'Total GDP', 'year': 2004, 'canada': 1023196.77, 'china': 1955347.0, 'france': 2115742.49, 'germany': 2809187.98, 'italy': 1803226.97, 'japan': 4815148.85, 'united_kingdom': 2416931.53, 'united_states': 12213729.15}, {'indicator': 'Total GDP', 'year': 2003, 'canada': 892382.41, 'china': 1660287.97, 'france': 1840480.81, 'germany': 2496128.67, 'italy': 1574145.82, 'japan': 4445658.07, 'united_kingdom': 2053018.78, 'united_states': 11458243.88}, {'indicator': 'Total GDP', 'year': 2002, 'canada': 757950.68, 'china': 1470550.02, 'france': 1494286.66, 'germany': 2068624.13, 'italy': 1270712.31, 'japan': 4115116.28, 'united_kingdom': 1784473.92, 'united_states': 10936419.05}, {'indicator': 'Total GDP', 'year': 2001, 'canada': 736379.78, 'china': 1339395.72, 'france': 1376465.32, 'germany': 1944107.38, 'italy': 1167012.8, 'japan': 4303544.26, 'united_kingdom': 1640246.15, 'united_states': 10581821.4}, {'indicator': 'Total GDP', 'year': 2000, 'canada': 742295.47, 'china': 1211346.87, 'france': 1362248.94, 'germany': 1943145.38, 'italy': 1143829.83, 'japan': 4887519.66, 'united_kingdom': 1657816.61, 'united_states': 10252345.46}, {'indicator': 'Total GDP', 'year': 1999, 'canada': 676084.0, 'china': 1093997.27, 'france': 1492647.56, 'germany': 2194204.13, 'italy': 1252023.76, 'japan': 4562078.82, 'united_kingdom': 1682399.29, 'united_states': 9630664.2}, {'indicator': 'Total GDP', 'year': 1998, 'canada': 631813.28, 'china': 1029043.1, 'france': 1503108.74, 'germany': 2238990.77, 'italy': 1270052.53, 'japan': 4032509.76, 'united_kingdom': 1650172.24, 'united_states': 9062818.21}, {'indicator': 'Total GDP', 'year': 1997, 'canada': 652823.92, 'china': 961603.95, 'france': 1452884.92, 'germany': 2211989.62, 'italy': 1241879.6, 'japan': 4414732.84, 'united_kingdom': 1559078.26, 'united_states': 8577554.46}, {'indicator': 'Total GDP', 'year': 1996, 'canada': 628546.39, 'china': 863746.72, 'france': 1605675.09, 'germany': 2497244.61, 'italy': 1312426.53, 'japan': 4833712.54, 'united_kingdom': 1415358.81, 'united_states': 8073122.0}, {'indicator': 'Total GDP', 'year': 1995, 'canada': 604031.62, 'china': 734547.9, 'france': 1601094.76, 'germany': 2585792.28, 'italy': 1174662.07, 'japan': 5449116.3, 'united_kingdom': 1341584.35, 'united_states': 7639749.0}]

In [7]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/trade_data')
#Base.metadata.create_all(engine)
session = Session(bind=engine)
Base.prepare(engine, reflect=True)
Base.classes.keys()

/Users/settenson23/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.trade_balance, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)
/Users/settenson23/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.country_growth, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)
/Users/settenson23/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.total_exports, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)
/Users/settenson23/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.total_gdp, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)
/Users/settenson23/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.total_imports, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)
/Users/settenson23/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.trade_balance_gdp_percent, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)
/Users/settenson23/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.trade_gdp_percent, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)
/Users/settenson23/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.total_gdp_test, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)
/Users/settenson23/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as sqlalchemy.ext.automap.total_imports_test, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)

['trade_balance',
 'country_growth',
 'total_exports',
 'total_gdp',
 'total_imports',
 'trade_balance_gdp_percent',
 'trade_gdp_percent',
 'total_gdp_test',
 'total_imports_test']

In [11]:
total_imports_test = Base.classes.total_imports_test

In [12]:
session = Session(engine)

In [13]:
first_row = session.query(total_imports_test).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7ff971778ad0>,
 'year': 2018,
 'china': 2134982.61,
 'france': 659374.52,
 'italy': 503581.13,
 'united_kingdom': 671694.26,
 'canada': 459866.29,
 'indicator_type': 'total imports',
 'germany': 1292726.05,
 'japan': 748217.61,
 'united_states': 2611432.49}

In [15]:
for row in session.query(total_imports_test.indicator_type, total_imports_test.year, total_imports_test.canada, total_imports_test.china, total_imports_test.france, total_imports_test.germany, total_imports_test.italy, total_imports_test.japan, total_imports_test.united_kingdom, total_imports_test.united_states):
    print(row)

('total imports', 2018, 459866.29, 2134982.61, 659374.52, 1292726.05, 503581.13, 748217.61, 671694.26, 2611432.49)
('total imports', 2017, 432405.19, 1843792.94, 613132.64, 1167753.36, 453583.03, 671474.31, 641332.44, 2405276.63)
('total imports', 2016, 402287.82, 1587920.69, 560554.86, 1060882.07, 406670.67, 606924.05, 636367.94, 2247167.25)
('total imports', 2015, 419374.73, 1679564.32, 563398.25, 1057535.85, 410933.4, 625568.42, 630251.06, 2313424.57)
('total imports', 2014, 463088.98, 1959234.63, 659872.08, 1214915.24, 474082.56, 812184.75, 694344.32, 2410855.48)
('total imports', 2013, 461785.07, 1949992.31, 671253.55, 1187301.53, 479336.35, 833166.06, 657222.53, 2265911.27)
('total imports', 2012, 462366.18, 1818199.23, 666675.23, 1163386.79, 489104.12, 886031.09, 689137.01, 2274461.87)
('total imports', 2011, 450579.51, 1743394.87, 713675.25, 1261588.48, 558831.98, 855380.47, 717606.23, 2263619.06)
('total imports', 2010, 392108.7, 1396001.57, 599171.51, 1060672.35, 486984.37, 694059.16, 627617.52, 1968259.9)
('total imports', 2009, 321227.57, 1005555.23, 540502.28, 928891.17, 414783.64, 551984.75, 552042.03, 1601895.82)
('total imports', 2008, 408762.17, 1132562.16, 695004.28, 1192581.76, 560960.37, 762533.92, 705344.16, 2164834.03)
('total imports', 2007, 380646.62, 956115.45, 611364.44, 1059307.81, 511822.51, 622243.34, 679917.92, 2017120.78)
('total imports', 2006, 350257.15, 791460.87, 529902.26, 922213.39, 442565.1, 579063.94, 614811.65, 1918997.09)
('total imports', 2005, 314444.42, 659952.76, 475856.8, 779819.06, 384835.56, 515866.39, 528460.95, 1734849.14)
('total imports', 2004, 273873.7, 561228.75, 434241.85, 718150.02, 355266.85, 455253.89, 502886.19, 1525304.22)
('total imports', 2003, 240376.25, 412759.8, 362517.3, 601761.02, 297402.8, 383465.33, 425369.49, 1302833.51)
('total imports', 2002, 222440.06, 295170.1, 303831.44, 490450.06, 246609.48, 337613.13, 372059.5, 1200095.83)
('total imports', 2001, 221623.73, 243552.88, 293865.64, 486022.07, 236126.62, 349291.91, 358702.94, 1140900.16)
('total imports', 2000, 240088.24, 225093.73, 303757.85, 500830.03, 238068.54, 379708.38, 374702.69, 1217932.97)
('total imports', 1999, 215554.88, 165699.07, 286592.83, 473500.68, 220056.1, 309994.47, 315333.08, 1059220.09)
('total imports', 1998, 201372.55, 140236.77, 286035.84, 471226.32, 215590.08, 280633.84, 311879.51, 944350.1)
('total imports', 1997, 197010.9, 142370.32, 266575.35, 445495.67, 208317.1, 338842.35, 305135.41, 898025.46)
('total imports', 1996, 170605.56, 138832.74, 274913.76, 458699.73, 208116.04, 349186.1, 282720.14, 817627.14)
('total imports', 1995, 164370.97, 132083.5, 273387.34, 464145.33, 200319.91, 336094.17, 261456.48, 770821.46)

In [17]:
total_imports_test_query = session.query(total_imports_test.indicator_type, total_imports_test.year, total_imports_test.canada, total_imports_test.china, total_imports_test.france, total_imports_test.germany, total_imports_test.italy, total_imports_test.japan, total_imports_test.united_kingdom, total_imports_test.united_states)
total_imports_test_query

In [19]:
all_results = []
for total_imports_test.indicator_type, total_imports_test.year, total_imports_test.canada, total_imports_test.china, total_imports_test.france, total_imports_test.germany, total_imports_test.italy, total_imports_test.japan, total_imports_test.united_kingdom, total_imports_test.united_states in total_imports_test_query:
        results_dict = {}
        results_dict["indicator"] = total_imports_test.indicator_type
        results_dict["year"] = total_imports_test.year
        results_dict["canada"] = total_imports_test.canada
        results_dict["china"] =  total_imports_test.china
        results_dict["france"] = total_imports_test.france
        results_dict["germany"] = total_imports_test.germany
        results_dict["italy"] = total_imports_test.italy
        results_dict["japan"] =  total_imports_test.japan
        results_dict["united_kingdom"] = total_imports_test.united_kingdom
        results_dict["united_states"] =  total_imports_test.united_states
        all_results.append(results_dict)

In [20]:
print(all_results)

[{'indicator': 'total imports', 'year': 2018, 'canada': 459866.29, 'china': 2134982.61, 'france': 659374.52, 'germany': 1292726.05, 'italy': 503581.13, 'japan': 748217.61, 'united_kingdom': 671694.26, 'united_states': 2611432.49}, {'indicator': 'total imports', 'year': 2017, 'canada': 432405.19, 'china': 1843792.94, 'france': 613132.64, 'germany': 1167753.36, 'italy': 453583.03, 'japan': 671474.31, 'united_kingdom': 641332.44, 'united_states': 2405276.63}, {'indicator': 'total imports', 'year': 2016, 'canada': 402287.82, 'china': 1587920.69, 'france': 560554.86, 'germany': 1060882.07, 'italy': 406670.67, 'japan': 606924.05, 'united_kingdom': 636367.94, 'united_states': 2247167.25}, {'indicator': 'total imports', 'year': 2015, 'canada': 419374.73, 'china': 1679564.32, 'france': 563398.25, 'germany': 1057535.85, 'italy': 410933.4, 'japan': 625568.42, 'united_kingdom': 630251.06, 'united_states': 2313424.57}, {'indicator': 'total imports', 'year': 2014, 'canada': 463088.98, 'china': 1959234.63, 'france': 659872.08, 'germany': 1214915.24, 'italy': 474082.56, 'japan': 812184.75, 'united_kingdom': 694344.32, 'united_states': 2410855.48}, {'indicator': 'total imports', 'year': 2013, 'canada': 461785.07, 'china': 1949992.31, 'france': 671253.55, 'germany': 1187301.53, 'italy': 479336.35, 'japan': 833166.06, 'united_kingdom': 657222.53, 'united_states': 2265911.27}, {'indicator': 'total imports', 'year': 2012, 'canada': 462366.18, 'china': 1818199.23, 'france': 666675.23, 'germany': 1163386.79, 'italy': 489104.12, 'japan': 886031.09, 'united_kingdom': 689137.01, 'united_states': 2274461.87}, {'indicator': 'total imports', 'year': 2011, 'canada': 450579.51, 'china': 1743394.87, 'france': 713675.25, 'germany': 1261588.48, 'italy': 558831.98, 'japan': 855380.47, 'united_kingdom': 717606.23, 'united_states': 2263619.06}, {'indicator': 'total imports', 'year': 2010, 'canada': 392108.7, 'china': 1396001.57, 'france': 599171.51, 'germany': 1060672.35, 'italy': 486984.37, 'japan': 694059.16, 'united_kingdom': 627617.52, 'united_states': 1968259.9}, {'indicator': 'total imports', 'year': 2009, 'canada': 321227.57, 'china': 1005555.23, 'france': 540502.28, 'germany': 928891.17, 'italy': 414783.64, 'japan': 551984.75, 'united_kingdom': 552042.03, 'united_states': 1601895.82}, {'indicator': 'total imports', 'year': 2008, 'canada': 408762.17, 'china': 1132562.16, 'france': 695004.28, 'germany': 1192581.76, 'italy': 560960.37, 'japan': 762533.92, 'united_kingdom': 705344.16, 'united_states': 2164834.03}, {'indicator': 'total imports', 'year': 2007, 'canada': 380646.62, 'china': 956115.45, 'france': 611364.44, 'germany': 1059307.81, 'italy': 511822.51, 'japan': 622243.34, 'united_kingdom': 679917.92, 'united_states': 2017120.78}, {'indicator': 'total imports', 'year': 2006, 'canada': 350257.15, 'china': 791460.87, 'france': 529902.26, 'germany': 922213.39, 'italy': 442565.1, 'japan': 579063.94, 'united_kingdom': 614811.65, 'united_states': 1918997.09}, {'indicator': 'total imports', 'year': 2005, 'canada': 314444.42, 'china': 659952.76, 'france': 475856.8, 'germany': 779819.06, 'italy': 384835.56, 'japan': 515866.39, 'united_kingdom': 528460.95, 'united_states': 1734849.14}, {'indicator': 'total imports', 'year': 2004, 'canada': 273873.7, 'china': 561228.75, 'france': 434241.85, 'germany': 718150.02, 'italy': 355266.85, 'japan': 455253.89, 'united_kingdom': 502886.19, 'united_states': 1525304.22}, {'indicator': 'total imports', 'year': 2003, 'canada': 240376.25, 'china': 412759.8, 'france': 362517.3, 'germany': 601761.02, 'italy': 297402.8, 'japan': 383465.33, 'united_kingdom': 425369.49, 'united_states': 1302833.51}, {'indicator': 'total imports', 'year': 2002, 'canada': 222440.06, 'china': 295170.1, 'france': 303831.44, 'germany': 490450.06, 'italy': 246609.48, 'japan': 337613.13, 'united_kingdom': 372059.5, 'united_states': 1200095.83}, {'indicator': 'total imports', 'year': 2001, 'canada': 221623.73, 'china': 243552.88, 'france': 293865.64, 'germany': 486022.07, 'italy': 236126.62, 'japan': 349291.91, 'united_kingdom': 358702.94, 'united_states': 1140900.16}, {'indicator': 'total imports', 'year': 2000, 'canada': 240088.24, 'china': 225093.73, 'france': 303757.85, 'germany': 500830.03, 'italy': 238068.54, 'japan': 379708.38, 'united_kingdom': 374702.69, 'united_states': 1217932.97}, {'indicator': 'total imports', 'year': 1999, 'canada': 215554.88, 'china': 165699.07, 'france': 286592.83, 'germany': 473500.68, 'italy': 220056.1, 'japan': 309994.47, 'united_kingdom': 315333.08, 'united_states': 1059220.09}, {'indicator': 'total imports', 'year': 1998, 'canada': 201372.55, 'china': 140236.77, 'france': 286035.84, 'germany': 471226.32, 'italy': 215590.08, 'japan': 280633.84, 'united_kingdom': 311879.51, 'united_states': 944350.1}, {'indicator': 'total imports', 'year': 1997, 'canada': 197010.9, 'china': 142370.32, 'france': 266575.35, 'germany': 445495.67, 'italy': 208317.1, 'japan': 338842.35, 'united_kingdom': 305135.41, 'united_states': 898025.46}, {'indicator': 'total imports', 'year': 1996, 'canada': 170605.56, 'china': 138832.74, 'france': 274913.76, 'germany': 458699.73, 'italy': 208116.04, 'japan': 349186.1, 'united_kingdom': 282720.14, 'united_states': 817627.14}, {'indicator': 'total imports', 'year': 1995, 'canada': 164370.97, 'china': 132083.5, 'france': 273387.34, 'germany': 464145.33, 'italy': 200319.91, 'japan': 336094.17, 'united_kingdom': 261456.48, 'united_states': 770821.46}]

In [9]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/trade_data')
#Base.metadata.create_all(engine)
session = Session(bind=engine)
Base.prepare(engine, reflect=True)
Base.classes.keys()

['trade_balance',
 'country_growth',
 'total_exports',
 'total_gdp',
 'total_imports',
 'trade_balance_gdp_percent',
 'trade_gdp_percent',
 'total_gdp_test',
 'total_imports_test',
 'total_exports_test',
 'country_exports']

In [10]:
total_exports_test = Base.classes.country_exports

In [11]:
session = Session(engine)

In [12]:
first_row = session.query(total_exports_test).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8f75a80050>,
 'canada': 450277.7,
 'china': 2494230.19,
 'indicator_type': 'total_exports',
 'italy': 549907.0,
 'japan': 738201.19,
 'united_states': 1665302.94,
 'year': 2018,
 'france': 568535.88,
 'germany': 1562418.82,
 'united_kingdom': 490840.36}

In [13]:
for row in session.query(total_exports_test.indicator_type, total_exports_test.year, total_exports_test.canada, total_exports_test.china, total_exports_test.france, total_exports_test.germany, total_exports_test.italy, total_exports_test.japan, total_exports_test.united_kingdom, total_exports_test.united_states):
    print(row)

('total_exports', 2018, 450277.7, 2494230.19, 568535.88, 1562418.82, 549907.0, 738201.19, 490840.36, 1665302.94)
('total_exports', 2017, 420631.85, 2263370.5, 523385.13, 1446642.44, 507430.24, 698097.19, 442065.71, 1545809.6)
('total_exports', 2016, 388853.14, 2097637.17, 488885.07, 1337236.56, 461667.63, 644932.44, 411463.36, 1450906.27)
('total_exports', 2015, 408697.32, 2273468.22, 493941.21, 1328500.25, 456988.63, 624873.51, 466295.68, 1501845.86)
('total_exports', 2014, 475177.18, 2342292.7, 566656.17, 1498238.43, 529528.73, 690217.47, 511145.44, 1619742.86)
('total_exports', 2013, 456598.27, 2209007.28, 567987.7, 1450937.52, 518095.1, 715097.24, 548041.85, 1577587.25)
('total_exports', 2012, 454098.97, 2048782.23, 558460.55, 1412396.69, 501528.85, 798620.02, 481225.75, 1544932.01)
('total_exports', 2011, 450430.01, 1898388.43, 585723.82, 1483802.56, 523256.3, 823183.76, 517288.69, 1481682.2)
('total_exports', 2010, 386579.9, 1577763.75, 511651.04, 1267743.11, 446839.83, 769773.83, 422014.12, 1278099.19)
('total_exports', 2009, 315176.83, 1201646.76, 464112.81, 1125844.05, 406479.13, 580718.73, 359615.54, 1056712.08)
('total_exports', 2008, 455632.18, 1430693.07, 594505.0, 1457462.95, 541786.28, 781412.16, 482020.96, 1299898.88)
('total_exports', 2007, 419881.6, 1220059.67, 539730.71, 1328841.35, 500203.41, 714327.04, 454005.49, 1162538.15)
('total_exports', 2006, 388178.68, 968935.6, 479012.85, 1121962.89, 417153.0, 646725.06, 458598.56, 1037029.25)
('total_exports', 2005, 360552.45, 761953.41, 434354.25, 977131.97, 372957.15, 594940.87, 392744.02, 901041.41)
('total_exports', 2004, 317161.19, 593325.58, 413708.42, 911742.1, 353543.12, 565761.14, 355027.95, 814844.39)
('total_exports', 2003, 272229.69, 438227.77, 358131.72, 748531.27, 299465.74, 472006.87, 312059.9, 724736.58)
('total_exports', 2002, 252584.26, 325595.97, 304891.88, 615997.39, 254215.6, 416729.39, 285996.25, 693068.31)
('total_exports', 2001, 261058.77, 266098.21, 289599.1, 571426.72, 244252.02, 403344.08, 279425.46, 729080.42)
('total_exports', 2000, 277419.92, 249202.55, 295345.42, 549606.74, 239931.7, 479275.54, 294899.05, 781830.67)
('total_exports', 1999, 238778.01, 194930.78, 296025.16, 542835.57, 234962.95, 417610.12, 265442.49, 692783.81)
('total_exports', 1998, 214606.35, 183808.98, 300571.07, 543555.26, 242102.21, 388136.14, 270295.29, 680434.6)
('total_exports', 1997, 216037.34, 182791.59, 283345.62, 512440.27, 238265.78, 421052.87, 278906.97, 687532.54)
('total_exports', 1996, 202262.54, 151047.45, 283901.2, 524165.98, 252098.58, 410946.93, 253622.09, 622784.15)
('total_exports', 1995, 191117.74, 148779.5, 284045.61, 523696.75, 230441.48, 442937.34, 234372.2, 582964.67)

In [15]:
total_exports_test_query = session.query(total_exports_test.indicator_type, total_exports_test.year, total_exports_test.canada, total_exports_test.china, total_exports_test.france, total_exports_test.germany, total_exports_test.italy, total_exports_test.japan, total_exports_test.united_kingdom, total_exports_test.united_states)
total_exports_test_query

In [16]:
all_results = []
for total_exports_test.indicator_type, total_exports_test.year, total_exports_test.canada, total_exports_test.china, total_exports_test.france, total_exports_test.germany, total_exports_test.italy, total_exports_test.japan, total_exports_test.united_kingdom, total_exports_test.united_states in total_exports_test_query:
        results_dict = {}
        results_dict["indicator"] = total_exports_test.indicator_type
        results_dict["year"] = total_exports_test.year
        results_dict["canada"] = total_exports_test.canada
        results_dict["china"] =  total_exports_test.china
        results_dict["france"] = total_exports_test.france
        results_dict["germany"] = total_exports_test.germany
        results_dict["italy"] = total_exports_test.italy
        results_dict["japan"] =  total_exports_test.japan
        results_dict["united_kingdom"] = total_exports_test.united_kingdom
        results_dict["united_states"] =  total_exports_test.united_states
        all_results.append(results_dict)

In [17]:
print(all_results)

[{'indicator': 'total_exports', 'year': 2018, 'canada': 450277.7, 'china': 2494230.19, 'france': 568535.88, 'germany': 1562418.82, 'italy': 549907.0, 'japan': 738201.19, 'united_kingdom': 490840.36, 'united_states': 1665302.94}, {'indicator': 'total_exports', 'year': 2017, 'canada': 420631.85, 'china': 2263370.5, 'france': 523385.13, 'germany': 1446642.44, 'italy': 507430.24, 'japan': 698097.19, 'united_kingdom': 442065.71, 'united_states': 1545809.6}, {'indicator': 'total_exports', 'year': 2016, 'canada': 388853.14, 'china': 2097637.17, 'france': 488885.07, 'germany': 1337236.56, 'italy': 461667.63, 'japan': 644932.44, 'united_kingdom': 411463.36, 'united_states': 1450906.27}, {'indicator': 'total_exports', 'year': 2015, 'canada': 408697.32, 'china': 2273468.22, 'france': 493941.21, 'germany': 1328500.25, 'italy': 456988.63, 'japan': 624873.51, 'united_kingdom': 466295.68, 'united_states': 1501845.86}, {'indicator': 'total_exports', 'year': 2014, 'canada': 475177.18, 'china': 2342292.7, 'france': 566656.17, 'germany': 1498238.43, 'italy': 529528.73, 'japan': 690217.47, 'united_kingdom': 511145.44, 'united_states': 1619742.86}, {'indicator': 'total_exports', 'year': 2013, 'canada': 456598.27, 'china': 2209007.28, 'france': 567987.7, 'germany': 1450937.52, 'italy': 518095.1, 'japan': 715097.24, 'united_kingdom': 548041.85, 'united_states': 1577587.25}, {'indicator': 'total_exports', 'year': 2012, 'canada': 454098.97, 'china': 2048782.23, 'france': 558460.55, 'germany': 1412396.69, 'italy': 501528.85, 'japan': 798620.02, 'united_kingdom': 481225.75, 'united_states': 1544932.01}, {'indicator': 'total_exports', 'year': 2011, 'canada': 450430.01, 'china': 1898388.43, 'france': 585723.82, 'germany': 1483802.56, 'italy': 523256.3, 'japan': 823183.76, 'united_kingdom': 517288.69, 'united_states': 1481682.2}, {'indicator': 'total_exports', 'year': 2010, 'canada': 386579.9, 'china': 1577763.75, 'france': 511651.04, 'germany': 1267743.11, 'italy': 446839.83, 'japan': 769773.83, 'united_kingdom': 422014.12, 'united_states': 1278099.19}, {'indicator': 'total_exports', 'year': 2009, 'canada': 315176.83, 'china': 1201646.76, 'france': 464112.81, 'germany': 1125844.05, 'italy': 406479.13, 'japan': 580718.73, 'united_kingdom': 359615.54, 'united_states': 1056712.08}, {'indicator': 'total_exports', 'year': 2008, 'canada': 455632.18, 'china': 1430693.07, 'france': 594505.0, 'germany': 1457462.95, 'italy': 541786.28, 'japan': 781412.16, 'united_kingdom': 482020.96, 'united_states': 1299898.88}, {'indicator': 'total_exports', 'year': 2007, 'canada': 419881.6, 'china': 1220059.67, 'france': 539730.71, 'germany': 1328841.35, 'italy': 500203.41, 'japan': 714327.04, 'united_kingdom': 454005.49, 'united_states': 1162538.15}, {'indicator': 'total_exports', 'year': 2006, 'canada': 388178.68, 'china': 968935.6, 'france': 479012.85, 'germany': 1121962.89, 'italy': 417153.0, 'japan': 646725.06, 'united_kingdom': 458598.56, 'united_states': 1037029.25}, {'indicator': 'total_exports', 'year': 2005, 'canada': 360552.45, 'china': 761953.41, 'france': 434354.25, 'germany': 977131.97, 'italy': 372957.15, 'japan': 594940.87, 'united_kingdom': 392744.02, 'united_states': 901041.41}, {'indicator': 'total_exports', 'year': 2004, 'canada': 317161.19, 'china': 593325.58, 'france': 413708.42, 'germany': 911742.1, 'italy': 353543.12, 'japan': 565761.14, 'united_kingdom': 355027.95, 'united_states': 814844.39}, {'indicator': 'total_exports', 'year': 2003, 'canada': 272229.69, 'china': 438227.77, 'france': 358131.72, 'germany': 748531.27, 'italy': 299465.74, 'japan': 472006.87, 'united_kingdom': 312059.9, 'united_states': 724736.58}, {'indicator': 'total_exports', 'year': 2002, 'canada': 252584.26, 'china': 325595.97, 'france': 304891.88, 'germany': 615997.39, 'italy': 254215.6, 'japan': 416729.39, 'united_kingdom': 285996.25, 'united_states': 693068.31}, {'indicator': 'total_exports', 'year': 2001, 'canada': 261058.77, 'china': 266098.21, 'france': 289599.1, 'germany': 571426.72, 'italy': 244252.02, 'japan': 403344.08, 'united_kingdom': 279425.46, 'united_states': 729080.42}, {'indicator': 'total_exports', 'year': 2000, 'canada': 277419.92, 'china': 249202.55, 'france': 295345.42, 'germany': 549606.74, 'italy': 239931.7, 'japan': 479275.54, 'united_kingdom': 294899.05, 'united_states': 781830.67}, {'indicator': 'total_exports', 'year': 1999, 'canada': 238778.01, 'china': 194930.78, 'france': 296025.16, 'germany': 542835.57, 'italy': 234962.95, 'japan': 417610.12, 'united_kingdom': 265442.49, 'united_states': 692783.81}, {'indicator': 'total_exports', 'year': 1998, 'canada': 214606.35, 'china': 183808.98, 'france': 300571.07, 'germany': 543555.26, 'italy': 242102.21, 'japan': 388136.14, 'united_kingdom': 270295.29, 'united_states': 680434.6}, {'indicator': 'total_exports', 'year': 1997, 'canada': 216037.34, 'china': 182791.59, 'france': 283345.62, 'germany': 512440.27, 'italy': 238265.78, 'japan': 421052.87, 'united_kingdom': 278906.97, 'united_states': 687532.54}, {'indicator': 'total_exports', 'year': 1996, 'canada': 202262.54, 'china': 151047.45, 'france': 283901.2, 'germany': 524165.98, 'italy': 252098.58, 'japan': 410946.93, 'united_kingdom': 253622.09, 'united_states': 622784.15}, {'indicator': 'total_exports', 'year': 1995, 'canada': 191117.74, 'china': 148779.5, 'france': 284045.61, 'germany': 523696.75, 'italy': 230441.48, 'japan': 442937.34, 'united_kingdom': 234372.2, 'united_states': 582964.67}]

In [19]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/trade_data')
#Base.metadata.create_all(engine)
session = Session(bind=engine)
Base.prepare(engine, reflect=True)
Base.classes.keys()

['trade_balance',
 'country_growth',
 'total_exports',
 'total_gdp',
 'total_imports',
 'trade_balance_gdp_percent',
 'trade_gdp_percent',
 'total_gdp_test',
 'total_country_growth',
 'total_imports_test',
 'total_exports_test',
 'country_exports',
 'trade_data']

In [22]:
country_growth = Base.classes.total_country_growth

In [23]:
session = Session(engine)

In [24]:
first_row = session.query(country_growth).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8f75b76990>,
 'year': 2018,
 'china': 2.31,
 'germany': 3.15,
 'japan': 1.5,
 'united_states': 3.1,
 'france': 2.22,
 'indicator_type': 'Country Growth %',
 'canada': 3.56,
 'italy': 1.76,
 'united_kingdom': 3.97}

In [25]:
for row in session.query(country_growth.indicator_type, country_growth.year, country_growth.canada, country_growth.china, country_growth.france, country_growth.germany, country_growth.italy, country_growth.japan, country_growth.united_kingdom, country_growth.united_states):
    print(row)

('Country Growth %', 2018, 3.56, 2.31, 2.22, 3.15, 1.76, 1.5, 3.97, 3.1)
('Country Growth %', 2017, 4.7, 7.82, 4.76, 4.14, 6.53, 3.92, 4.86, 3.98)
('Country Growth %', 2016, -3.41, -3.97, -0.9, 0.07, 0.82, 0.91, -4.36, -2.07)
('Country Growth %', 2015, -7.17, -1.55, -7.01, -5.9, -6.02, -4.54, -6.69, -3.94)
('Country Growth %', 2014, 2.13, 2.7, 0.82, 1.28, 1.08, -1.56, -4.21, 1.06)
('Country Growth %', 2013, 0.85, 1.9, 1.29, 1.78, 1.3, -4.43, 7.23, 0.3)
('Country Growth %', 2012, 0.0, 1.77, -1.79, -2.54, -1.35, -0.79, 0.07, 2.04)
('Country Growth %', 2011, 7.72, 7.08, 6.53, 8.11, 8.06, 4.04, 7.34, 7.86)
('Country Growth %', 2010, 11.01, 13.26, 4.22, 6.95, 4.98, 13.63, 5.07, 9.26)
('Country Growth %', 2009, -16.54, -7.68, -10.97, -12.72, -13.37, -13.3, -13.14, -10.76)
('Country Growth %', 2008, 4.92, 6.98, 4.56, 4.91, 4.92, 4.41, 2.73, 6.05)
('Country Growth %', 2007, 3.63, 9.91, 6.53, 9.15, 9.17, 4.68, 6.85, 5.81)
('Country Growth %', 2006, 3.45, 10.52, 5.9, 6.03, 6.28, 3.84, 4.07, 6.19)
('Country Growth %', 2005, 6.1, 11.63, 1.63, 3.74, 3.2, 2.99, 4.24, 4.0)
('Country Growth %', 2004, 8.07, 15.02, 8.18, 9.94, 8.4, 9.44, 6.52, 6.01)
('Country Growth %', 2003, 3.02, 12.53, 8.99, 10.01, 8.63, 6.41, 4.56, 2.17)
('Country Growth %', 2002, -1.51, 9.48, 1.51, 4.22, 2.46, 1.67, -0.53, -2.01)
('Country Growth %', 2001, -3.23, 1.91, 0.26, 1.4, 0.69, -6.74, -2.39, -3.55)
('Country Growth %', 2000, 8.46, 12.8, 0.68, 1.88, 0.5, 7.88, 4.49, 5.79)
('Country Growth %', 1999, 5.12, 6.19, -0.09, 0.41, -1.03, 3.83, 1.4, 0.84)
('Country Growth %', 1998, 0.59, 0.62, 3.11, 2.61, 1.11, -3.65, 0.1, -0.3)
('Country Growth %', 1997, 3.48, 6.94, 1.77, 0.07, -0.69, 4.12, 2.02, 6.14)
('Country Growth %', 1996, 2.91, 5.27, 0.56, 1.04, 4.01, -2.07, 4.25, 4.49)
('Country Growth %', 1995, 7.83, 10.19, 15.55, 15.83, 12.78, 6.32, 13.7, 9.39)

In [26]:
country_growth_query = session.query(country_growth.indicator_type, country_growth.year, country_growth.canada, country_growth.china, country_growth.france, country_growth.germany, country_growth.italy, country_growth.japan, country_growth.united_kingdom, country_growth.united_states)
country_growth_query

In [27]:
growth_results = []
for country_growth.indicator_type, country_growth.year, country_growth.canada, country_growth.china, country_growth.france, country_growth.germany, country_growth.italy, country_growth.japan, country_growth.united_kingdom, country_growth.united_states in country_growth_query:
        results_dict = {}
        results_dict["indicator"] = country_growth.indicator_type
        results_dict["year"] = country_growth.year
        results_dict["canada"] = country_growth.canada
        results_dict["china"] =  country_growth.china
        results_dict["france"] = country_growth.france
        results_dict["germany"] = country_growth.germany
        results_dict["italy"] = country_growth.italy
        results_dict["japan"] =  country_growth.japan
        results_dict["united_kingdom"] = country_growth.united_kingdom
        results_dict["united_states"] =  country_growth.united_states
        growth_results.append(results_dict)

In [28]:
print(growth_results)

[{'indicator': 'Country Growth %', 'year': 2018, 'canada': 3.56, 'china': 2.31, 'france': 2.22, 'germany': 3.15, 'italy': 1.76, 'japan': 1.5, 'united_kingdom': 3.97, 'united_states': 3.1}, {'indicator': 'Country Growth %', 'year': 2017, 'canada': 4.7, 'china': 7.82, 'france': 4.76, 'germany': 4.14, 'italy': 6.53, 'japan': 3.92, 'united_kingdom': 4.86, 'united_states': 3.98}, {'indicator': 'Country Growth %', 'year': 2016, 'canada': -3.41, 'china': -3.97, 'france': -0.9, 'germany': 0.07, 'italy': 0.82, 'japan': 0.91, 'united_kingdom': -4.36, 'united_states': -2.07}, {'indicator': 'Country Growth %', 'year': 2015, 'canada': -7.17, 'china': -1.55, 'france': -7.01, 'germany': -5.9, 'italy': -6.02, 'japan': -4.54, 'united_kingdom': -6.69, 'united_states': -3.94}, {'indicator': 'Country Growth %', 'year': 2014, 'canada': 2.13, 'china': 2.7, 'france': 0.82, 'germany': 1.28, 'italy': 1.08, 'japan': -1.56, 'united_kingdom': -4.21, 'united_states': 1.06}, {'indicator': 'Country Growth %', 'year': 2013, 'canada': 0.85, 'china': 1.9, 'france': 1.29, 'germany': 1.78, 'italy': 1.3, 'japan': -4.43, 'united_kingdom': 7.23, 'united_states': 0.3}, {'indicator': 'Country Growth %', 'year': 2012, 'canada': 0.0, 'china': 1.77, 'france': -1.79, 'germany': -2.54, 'italy': -1.35, 'japan': -0.79, 'united_kingdom': 0.07, 'united_states': 2.04}, {'indicator': 'Country Growth %', 'year': 2011, 'canada': 7.72, 'china': 7.08, 'france': 6.53, 'germany': 8.11, 'italy': 8.06, 'japan': 4.04, 'united_kingdom': 7.34, 'united_states': 7.86}, {'indicator': 'Country Growth %', 'year': 2010, 'canada': 11.01, 'china': 13.26, 'france': 4.22, 'germany': 6.95, 'italy': 4.98, 'japan': 13.63, 'united_kingdom': 5.07, 'united_states': 9.26}, {'indicator': 'Country Growth %', 'year': 2009, 'canada': -16.54, 'china': -7.68, 'france': -10.97, 'germany': -12.72, 'italy': -13.37, 'japan': -13.3, 'united_kingdom': -13.14, 'united_states': -10.76}, {'indicator': 'Country Growth %', 'year': 2008, 'canada': 4.92, 'china': 6.98, 'france': 4.56, 'germany': 4.91, 'italy': 4.92, 'japan': 4.41, 'united_kingdom': 2.73, 'united_states': 6.05}, {'indicator': 'Country Growth %', 'year': 2007, 'canada': 3.63, 'china': 9.91, 'france': 6.53, 'germany': 9.15, 'italy': 9.17, 'japan': 4.68, 'united_kingdom': 6.85, 'united_states': 5.81}, {'indicator': 'Country Growth %', 'year': 2006, 'canada': 3.45, 'china': 10.52, 'france': 5.9, 'germany': 6.03, 'italy': 6.28, 'japan': 3.84, 'united_kingdom': 4.07, 'united_states': 6.19}, {'indicator': 'Country Growth %', 'year': 2005, 'canada': 6.1, 'china': 11.63, 'france': 1.63, 'germany': 3.74, 'italy': 3.2, 'japan': 2.99, 'united_kingdom': 4.24, 'united_states': 4.0}, {'indicator': 'Country Growth %', 'year': 2004, 'canada': 8.07, 'china': 15.02, 'france': 8.18, 'germany': 9.94, 'italy': 8.4, 'japan': 9.44, 'united_kingdom': 6.52, 'united_states': 6.01}, {'indicator': 'Country Growth %', 'year': 2003, 'canada': 3.02, 'china': 12.53, 'france': 8.99, 'germany': 10.01, 'italy': 8.63, 'japan': 6.41, 'united_kingdom': 4.56, 'united_states': 2.17}, {'indicator': 'Country Growth %', 'year': 2002, 'canada': -1.51, 'china': 9.48, 'france': 1.51, 'germany': 4.22, 'italy': 2.46, 'japan': 1.67, 'united_kingdom': -0.53, 'united_states': -2.01}, {'indicator': 'Country Growth %', 'year': 2001, 'canada': -3.23, 'china': 1.91, 'france': 0.26, 'germany': 1.4, 'italy': 0.69, 'japan': -6.74, 'united_kingdom': -2.39, 'united_states': -3.55}, {'indicator': 'Country Growth %', 'year': 2000, 'canada': 8.46, 'china': 12.8, 'france': 0.68, 'germany': 1.88, 'italy': 0.5, 'japan': 7.88, 'united_kingdom': 4.49, 'united_states': 5.79}, {'indicator': 'Country Growth %', 'year': 1999, 'canada': 5.12, 'china': 6.19, 'france': -0.09, 'germany': 0.41, 'italy': -1.03, 'japan': 3.83, 'united_kingdom': 1.4, 'united_states': 0.84}, {'indicator': 'Country Growth %', 'year': 1998, 'canada': 0.59, 'china': 0.62, 'france': 3.11, 'germany': 2.61, 'italy': 1.11, 'japan': -3.65, 'united_kingdom': 0.1, 'united_states': -0.3}, {'indicator': 'Country Growth %', 'year': 1997, 'canada': 3.48, 'china': 6.94, 'france': 1.77, 'germany': 0.07, 'italy': -0.69, 'japan': 4.12, 'united_kingdom': 2.02, 'united_states': 6.14}, {'indicator': 'Country Growth %', 'year': 1996, 'canada': 2.91, 'china': 5.27, 'france': 0.56, 'germany': 1.04, 'italy': 4.01, 'japan': -2.07, 'united_kingdom': 4.25, 'united_states': 4.49}, {'indicator': 'Country Growth %', 'year': 1995, 'canada': 7.83, 'china': 10.19, 'france': 15.55, 'germany': 15.83, 'italy': 12.78, 'japan': 6.32, 'united_kingdom': 13.7, 'united_states': 9.39}]

In [47]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/trade_data')
#Base.metadata.create_all(engine)
session = Session(bind=engine)
Base.prepare(engine, reflect=True)
Base.classes.keys()

['trade_balance',
 'country_growth',
 'total_exports',
 'total_gdp',
 'total_imports',
 'trade_balance_gdp_percent',
 'trade_gdp_percent',
 'total_gdp_test',
 'total_country_growth',
 'trade_balance_total',
 'total_imports_test',
 'total_exports_test',
 'country_exports',
 'trade_data']

In [48]:
trade_balance_total = Base.classes.trade_balance_total

In [49]:
session = Session(engine)

In [50]:
first_row_total = session.query(trade_balance).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7f8f75da6510>,
 'china': 106623.48,
 'year': 2018,
 'indicator_type': 'trade_balance',
 'germany': 243227.47,
 'japan': 12698.42,
 'united_states': -638214.0,
 'canada': -33617.99,
 'france': -21484.06,
 'italy': 52077.68,
 'united_kingdom': -50333.41}

In [51]:
for row in session.query(trade_balance_total.indicator_type, trade_balance_total.year, trade_balance_total.canada, trade_balance_total.china, trade_balance_total.france, trade_balance_total.germany, trade_balance_total.italy, trade_balance_total.japan, trade_balance_total.united_kingdom, trade_balance_total.united_states):
    print(row)

('trade_balance', 2018, -33617.99, 106623.48, -21484.06, 243227.47, 52077.68, 12698.42, -50333.41, -638214.0)
('trade_balance', 2017, -36501.03, 215695.7, -27369.92, 259682.97, 58326.4, 45435.28, -32338.37, -575336.0)
('trade_balance', 2016, -36038.36, 255483.47, -14952.96, 255267.74, 61679.57, 48781.68, -43642.31, -518806.0)
('trade_balance', 2015, -38367.63, 358835.72, -13811.21, 254126.02, 55330.12, -18394.96, -40421.94, -519845.0)
('trade_balance', 2014, -16351.25, 221550.83, -32669.49, 257054.66, 62518.61, -119570.78, -42718.01, -507658.0)
('trade_balance', 2013, -28939.83, 234870.53, -29082.83, 214949.25, 51368.16, -119443.84, -35567.3, -490782.0)
('trade_balance', 2012, -34546.95, 231865.23, -34782.5, 215174.58, 23036.42, -95940.05, -31706.97, -568571.0)
('trade_balance', 2011, -20478.98, 180894.23, -55737.41, 183781.24, -32101.52, -33435.66, -24061.88, -579461.0)
('trade_balance', 2010, -30298.63, 222399.88, -34121.15, 178727.11, -39651.94, 83250.29, -49414.43, -513903.0)
('trade_balance', 2009, -19832.04, 220130.4, -21289.25, 170266.74, -13595.3, 28821.17, -38711.64, -396451.0)
('trade_balance', 2008, 27432.05, 348832.53, -33804.01, 226546.07, -18407.06, 22622.98, -62875.0, -723088.0)
('trade_balance', 2007, 31956.99, 308036.03, -18978.92, 231654.8, -7501.09, 85462.43, -61382.55, -718427.0)
('trade_balance', 2006, 36316.11, 208918.92, -5409.61, 162059.97, -15996.36, 64060.57, -55735.05, -770925.0)
('trade_balance', 2005, 46388.02, 124626.8, 1875.39, 147994.03, -1835.72, 71777.62, -60992.73, -721193.0)
('trade_balance', 2004, 45822.44, 51174.38, 21425.38, 146092.62, 10626.89, 97348.26, -61596.48, -619075.0)
('trade_balance', 2003, 34853.33, 35821.13, 26247.18, 94206.55, 7170.88, 75374.24, -45216.33, -503127.0)
('trade_balance', 2002, 33546.8, 37382.67, 29737.44, 87922.08, 9619.42, 55588.25, -45963.73, -425402.0)
('trade_balance', 2001, 42385.72, 28086.22, 21643.85, 31622.37, 14741.92, 28406.41, -36100.48, -367929.0)
('trade_balance', 2000, 42102.89, 28785.85, 18100.24, 3290.95, 9721.12, 69858.16, -28748.68, -375050.0)
('trade_balance', 1999, 24472.64, 30640.96, 35706.37, 12125.51, 22294.69, 70920.26, -23345.74, -255834.0)
('trade_balance', 1998, 12535.22, 43836.69, 41278.63, 27513.62, 38522.81, 73268.23, -10187.15, -162711.0)
('trade_balance', 1997, 12636.86, 42823.22, 43773.88, 23842.77, 46087.09, 46662.19, 7770.14, -101971.0)
('trade_balance', 1996, 24825.82, 17550.0, 28611.36, 17841.17, 59461.66, 20960.83, 2379.1, -96377.0)
('trade_balance', 1995, 18993.0, 11958.0, 25613.09, 10519.99, 42997.62, 68882.92, 3656.3, -89762.0)

In [53]:
trade_balance_query = session.query(trade_balance_total.indicator_type, trade_balance_total.year, trade_balance_total.canada, trade_balance_total.china, trade_balance_total.france, trade_balance_total.germany, trade_balance_total.italy, trade_balance_total.japan, trade_balance_total.united_kingdom, trade_balance_total.united_states)
trade_balance_query

In [55]:
trade_balance_results = []
for trade_balance_total.indicator_type, trade_balance_total.year, trade_balance_total.canada, trade_balance_total.china, trade_balance_total.france, trade_balance_total.germany, trade_balance_total.italy, trade_balance_total.japan, trade_balance_total.united_kingdom, trade_balance_total.united_states in trade_balance_query:
        results_dict = {}
        results_dict["indicator"] = trade_balance_total.indicator_type
        results_dict["year"] = trade_balance_total.year
        results_dict["canada"] = trade_balance_total.canada
        results_dict["china"] =  trade_balance_total.china
        results_dict["france"] = trade_balance_total.france
        results_dict["germany"] = trade_balance_total.germany
        results_dict["italy"] = trade_balance_total.italy
        results_dict["japan"] =  trade_balance_total.japan
        results_dict["united_kingdom"] = trade_balance_total.united_kingdom
        results_dict["united_states"] =  trade_balance_total.united_states
        trade_balance_results.append(results_dict)

In [56]:
print(trade_balance_results)

[{'indicator': 'trade_balance', 'year': 2018, 'canada': -33617.99, 'china': 106623.48, 'france': -21484.06, 'germany': 243227.47, 'italy': 52077.68, 'japan': 12698.42, 'united_kingdom': -50333.41, 'united_states': -638214.0}, {'indicator': 'trade_balance', 'year': 2017, 'canada': -36501.03, 'china': 215695.7, 'france': -27369.92, 'germany': 259682.97, 'italy': 58326.4, 'japan': 45435.28, 'united_kingdom': -32338.37, 'united_states': -575336.0}, {'indicator': 'trade_balance', 'year': 2016, 'canada': -36038.36, 'china': 255483.47, 'france': -14952.96, 'germany': 255267.74, 'italy': 61679.57, 'japan': 48781.68, 'united_kingdom': -43642.31, 'united_states': -518806.0}, {'indicator': 'trade_balance', 'year': 2015, 'canada': -38367.63, 'china': 358835.72, 'france': -13811.21, 'germany': 254126.02, 'italy': 55330.12, 'japan': -18394.96, 'united_kingdom': -40421.94, 'united_states': -519845.0}, {'indicator': 'trade_balance', 'year': 2014, 'canada': -16351.25, 'china': 221550.83, 'france': -32669.49, 'germany': 257054.66, 'italy': 62518.61, 'japan': -119570.78, 'united_kingdom': -42718.01, 'united_states': -507658.0}, {'indicator': 'trade_balance', 'year': 2013, 'canada': -28939.83, 'china': 234870.53, 'france': -29082.83, 'germany': 214949.25, 'italy': 51368.16, 'japan': -119443.84, 'united_kingdom': -35567.3, 'united_states': -490782.0}, {'indicator': 'trade_balance', 'year': 2012, 'canada': -34546.95, 'china': 231865.23, 'france': -34782.5, 'germany': 215174.58, 'italy': 23036.42, 'japan': -95940.05, 'united_kingdom': -31706.97, 'united_states': -568571.0}, {'indicator': 'trade_balance', 'year': 2011, 'canada': -20478.98, 'china': 180894.23, 'france': -55737.41, 'germany': 183781.24, 'italy': -32101.52, 'japan': -33435.66, 'united_kingdom': -24061.88, 'united_states': -579461.0}, {'indicator': 'trade_balance', 'year': 2010, 'canada': -30298.63, 'china': 222399.88, 'france': -34121.15, 'germany': 178727.11, 'italy': -39651.94, 'japan': 83250.29, 'united_kingdom': -49414.43, 'united_states': -513903.0}, {'indicator': 'trade_balance', 'year': 2009, 'canada': -19832.04, 'china': 220130.4, 'france': -21289.25, 'germany': 170266.74, 'italy': -13595.3, 'japan': 28821.17, 'united_kingdom': -38711.64, 'united_states': -396451.0}, {'indicator': 'trade_balance', 'year': 2008, 'canada': 27432.05, 'china': 348832.53, 'france': -33804.01, 'germany': 226546.07, 'italy': -18407.06, 'japan': 22622.98, 'united_kingdom': -62875.0, 'united_states': -723088.0}, {'indicator': 'trade_balance', 'year': 2007, 'canada': 31956.99, 'china': 308036.03, 'france': -18978.92, 'germany': 231654.8, 'italy': -7501.09, 'japan': 85462.43, 'united_kingdom': -61382.55, 'united_states': -718427.0}, {'indicator': 'trade_balance', 'year': 2006, 'canada': 36316.11, 'china': 208918.92, 'france': -5409.61, 'germany': 162059.97, 'italy': -15996.36, 'japan': 64060.57, 'united_kingdom': -55735.05, 'united_states': -770925.0}, {'indicator': 'trade_balance', 'year': 2005, 'canada': 46388.02, 'china': 124626.8, 'france': 1875.39, 'germany': 147994.03, 'italy': -1835.72, 'japan': 71777.62, 'united_kingdom': -60992.73, 'united_states': -721193.0}, {'indicator': 'trade_balance', 'year': 2004, 'canada': 45822.44, 'china': 51174.38, 'france': 21425.38, 'germany': 146092.62, 'italy': 10626.89, 'japan': 97348.26, 'united_kingdom': -61596.48, 'united_states': -619075.0}, {'indicator': 'trade_balance', 'year': 2003, 'canada': 34853.33, 'china': 35821.13, 'france': 26247.18, 'germany': 94206.55, 'italy': 7170.88, 'japan': 75374.24, 'united_kingdom': -45216.33, 'united_states': -503127.0}, {'indicator': 'trade_balance', 'year': 2002, 'canada': 33546.8, 'china': 37382.67, 'france': 29737.44, 'germany': 87922.08, 'italy': 9619.42, 'japan': 55588.25, 'united_kingdom': -45963.73, 'united_states': -425402.0}, {'indicator': 'trade_balance', 'year': 2001, 'canada': 42385.72, 'china': 28086.22, 'france': 21643.85, 'germany': 31622.37, 'italy': 14741.92, 'japan': 28406.41, 'united_kingdom': -36100.48, 'united_states': -367929.0}, {'indicator': 'trade_balance', 'year': 2000, 'canada': 42102.89, 'china': 28785.85, 'france': 18100.24, 'germany': 3290.95, 'italy': 9721.12, 'japan': 69858.16, 'united_kingdom': -28748.68, 'united_states': -375050.0}, {'indicator': 'trade_balance', 'year': 1999, 'canada': 24472.64, 'china': 30640.96, 'france': 35706.37, 'germany': 12125.51, 'italy': 22294.69, 'japan': 70920.26, 'united_kingdom': -23345.74, 'united_states': -255834.0}, {'indicator': 'trade_balance', 'year': 1998, 'canada': 12535.22, 'china': 43836.69, 'france': 41278.63, 'germany': 27513.62, 'italy': 38522.81, 'japan': 73268.23, 'united_kingdom': -10187.15, 'united_states': -162711.0}, {'indicator': 'trade_balance', 'year': 1997, 'canada': 12636.86, 'china': 42823.22, 'france': 43773.88, 'germany': 23842.77, 'italy': 46087.09, 'japan': 46662.19, 'united_kingdom': 7770.14, 'united_states': -101971.0}, {'indicator': 'trade_balance', 'year': 1996, 'canada': 24825.82, 'china': 17550.0, 'france': 28611.36, 'germany': 17841.17, 'italy': 59461.66, 'japan': 20960.83, 'united_kingdom': 2379.1, 'united_states': -96377.0}, {'indicator': 'trade_balance', 'year': 1995, 'canada': 18993.0, 'china': 11958.0, 'france': 25613.09, 'germany': 10519.99, 'italy': 42997.62, 'japan': 68882.92, 'united_kingdom': 3656.3, 'united_states': -89762.0}]